html {
    margin: 0;
    box-sizing: border-box;
    border: 5px solid dodgerblue;
}

body {
    margin: 0;
    background-color: ghostwhite;
}

header {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    background: black;
    color: white;
}

p {
    margin: 0;
}

input[name="title"],
input[name="description"],
input[name="username"] {
    box-shadow: none;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-align: center;
}

#main {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo-header {
    position: absolute;
    height: 50px;
    top: 5px;
    left: 1%;
}

.heading {
    text-align: center;
    font-size: 70px;
    font-family: "Indie Flower", cursive;
    color: dodgerblue;
}

.all-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-div {
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 1%;
    width: 300px;
    height: 300px;
    padding: 25px;
    background-color: papayawhip;
}

.image {
    width: 98%;
    height: 90%;
    padding-top: 3px;
}

.image-title {
    margin: 5px;
}

.form {
    width: 60%;
    border-top: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
    margin-left: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.component {
    text-align: center;
    position: fixed;
    top: 0;
    margin-top: 5px;
    bottom: 0;
    left: 10%;
    right: 10%;
    background-image: linear-gradient(papayawhip, ghostwhite);
    display: grid;
}

.x {
    position: absolute;
    right: 2%;
    font-size: 30px;
    color: black;
    font-weight: bold;
    top: 1%;
    width: 40px;
}

.description {
    height: 51px;
    margin-top: 1%;
    font-size: 20px;
    border-bottom: 1px solid black;
    font-weight: bold;
    color: deepskyblue;
}

.comments {
    top: 77%;
    left: 45%;
    position: absolute;
    transform: translate(-45%, -77%);
}

.username {
    font-weight: bold;
    text-decoration: underline;
}

.upload-by {
    position: absolute;
    left: 75%;
    top: 65%;
}

.submit-upload {
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.comments-get {
    width: 80%;
    height: 130px;
    border: 1px solid black;
    position: absolute;
    text-align: left;
    left: 10%;
    padding-left: 10px;
    top: 80%;
    overflow: scroll;
}

.comments-title {
    padding-left: 40%;
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

.picture-clicked {
    width: 50%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 24%;
    transform: translate(-50%, -24%);
}

#showmore {
    width: 100px;
    margin-left: 45%;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#showmore:hover,
.submit-upload:hover {
    background-color: dodgerblue;
    color: white;
}

.submit-comment {
    border: 1px solid black;
    border-radius: 20px;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 480px) {
    html {
        margin: 0;
        box-sizing: border-box;
        border: 0;
    }
    body {
        background-color: orange;
    }
    .logo-header {
        position: absolute;
        height: 50px;
        top: 5px;
        left: 2%;
    }
    .submit-button {
        border-radius: 5px;
        margin-left: 50px;
    }
    .component {
        background-color: #fed39f;
        text-align: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: grid;
    }
    .picture-clicked {
        position: absolute;
        width: 100%;
        height: 55%;
        left: 50%;
        top: 17%;
        transform: translate(-50%, -17%);
    }
    .comments {
        top: 75%;
        left: 45%;
        width: 40%;
        position: absolute;
        transform: translate(-45%, -75%);
    }
    .comments-title {
        padding-left: 33%;
        text-decoration: underline;
        font-weight: bold;
        color: red;
    }
    .description {
        height: 46px;
        margin-top: 1%;
        font-size: 20px;
        border-bottom: 1px solid black;
        font-weight: bold;
    }
    .upload-by {
        font-size: 12px;
        position: absolute;
        left: 1%;
        top: 64%;
    }
}

@media screen and (max-height: 380px) {
    html {
        margin: 0;
        box-sizing: border-box;
        border: 0;
    }
    body {
        background-color: orange;
    }
    .comments-get {
        top: 76%;
        left: 10%;
        width: 80%;
        height: 130px;
        border: 1px solid black;
        position: absolute;
        text-align: left;
        padding-left: 10px;
        overflow: scroll;
    }
    .component {
        background-color: #fed39f;
        text-align: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: grid;
    }
    .image-div {
        border: 2px solid black;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        margin: 1%;
        width: 250px;
        height: 250px;
        padding: 25px;
        background-color: papayawhip;
    }
    .upload-by {
        position: absolute;
        top: 71%;
        left: 75%;
    }
    .comments {
        top: 50%;
        left: 10%;
        display: flex;
        position: absolute;
        transform: translate(-40%, -80%);
        flex-direction: column;
    }
    .comment-input {
        margin-bottom: 10px;
    }
    .picture-clicked {
        width: 50%;
        height: 60%;
        position: absolute;
        left: 50%;
        top: 28%;
        transform: translate(-50%, -20%);
    }
    .submit-comment {
        border: 1px solid black;
        border-radius: 20px;
    }
}
