html {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: ghostwhite;
}

header {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    background: black;
    color: white;
}

input[name="title"],
input[name="description"],
input[name="username"] {
    box-shadow: none;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-align: center;
}

#main {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo-header {
    position: absolute;
    height: 50px;
    top: 5px;
    left: 1%;
}

.heading {
    text-align: center;
    font-size: 50px;
}

.all-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-div {
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 1%;
    width: 300px;
    height: 300px;
    padding: 25px;
    background-color: papayawhip;
}

.image {
    width: 98%;
    height: 90%;
    padding-top: 3px;
}

.image-title {
    margin: 5px;
}

.form {
    width: 60%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    body {
        background-color: #fed39f;
    }
}
